In [56]:
import numpy as np
import pandas as pd

In [57]:
with open("siddhartha.txt", "r") as file:
    raw = file.read()

In [58]:
chapters = raw.split("CHAPTER")[1:]

In [59]:
len(chapters)

12

In [60]:
txt = chapters[0]

In [61]:
# Get the chapter title, number, text
number_title = txt.split("\n")[0]
number = number_title.split(":")[0][1:]
title = number_title.split(":")[1].strip()
number, title

('1', 'THE SON OF THE BRAHMAN')

chapter | name | line_no | word |

In [62]:
lines = txt.split("\n")
df_txt = pd.DataFrame({"line_txt" : lines})

In [63]:
df_txt.head()
df_txt["title"] = title
df_txt["chapter"] = number
df_txt["line_count"] = df_txt.index + 1

In [64]:
df_txt.head()

,line_txt,title,chapter,line_count
0,-1: THE SON OF THE BRAHMAN,THE SON OF THE BRAHMAN,1,1
1,,THE SON OF THE BRAHMAN,1,2
2,"In the shade of the house, in the sunshine of ...",THE SON OF THE BRAHMAN,1,3
3,"boats, in the shade of the Sal-wood forest, in...",THE SON OF THE BRAHMAN,1,4
4,"is where Siddhartha grew up, the handsome son ...",THE SON OF THE BRAHMAN,1,5

In [65]:
for txt in chapters:
    number_title = txt.split("\n")[0]
    number = number_title.split(":")[0][1:]
    title = number_title.split(":")[1].strip()
    lines = txt.split("\n")
    df_txt = pd.

SyntaxError: invalid syntax (<ipython-input-65-6749c1d55185>, line 6)